body{
    background-color: brown;
}

.row1{
    color: whitesmoke;
    text-align: center;
    font-family: 'Hanalei Fill', cursive;
}

.row2{
    background-color: coral;
    text-align: center;
}
.intro{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.introduction{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.descrip{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.description{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.anatom{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.anatomical{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}

.row3{
    background-color: coral;
    text-align: center;
}
.commun{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.communication{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.vary{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.various{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.behave{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.behavior{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.physio{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.physiology{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}

.row4{
    background-color: coral;
    text-align: center;
}
.orig{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.origin{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.soft{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.anatomy{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.evid{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.evidence{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}

.row5{
    background-color: coral;
    text-align: center;
}
.smoke{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.smoking{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.inescape{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.inescapable{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.bury{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.buried{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.death{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.below{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.extinct{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.extinction{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}

.row6{
    background-color: coral;
    text-align: center;
}
.evo{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.evolution{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}
.ornear{
    color: aqua;
    font-family: 'Bangers', cursive;
}
.orignerly{
    color: aquamarine;
    font-family: 'Carter One', cursive;
}